body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:  #d1d8e0;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 90vh ;
    width: 70vw;
    margin: 5vh auto;
    border-radius: 6px;
    background-color:white;
    box-shadow: 0px 0px 3px;
    display: flex;
    flex: 1fr 2fr;
}
.left-container{
    height: 100%;
    background-color: #005efe;;
}
.right-container{
    height: 100%;
    background-color: white;
}

textarea,select,input::placeholder
{
    font-weight: lighter;
    font-size: smaller;
}

#college-type {
    font-size: smaller;
    padding: 8px;
    opacity: 0.8;
}
.asterik {
    color: red;
}

.invalid-feedback{
    font-size: small;
}
footer{
    
    font-size: small;
    opacity: 0.7;
    color:  #2a2f42;;
    position: fixed;
    margin-top: 97vh;
}
label{
    font-size: 13px;
    color: #92949a;
    margin-top: 10px;
}
input{
    margin-top: 5px;
}

.step-header {
    padding: .5rem 1rem;
    margin-bottom: 0;
    width: 95%;
}
.indicator-line {
    width: 100%;
    height: 2px;
    margin-top: 2px;
    background:  #D1D8F2;
    flex: 1;
  }

.step-indicators {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    padding: 20px;
}

.step-icon {
    margin: 0px;
    height: 8px;
    width: 8px;
    background-color:  #d1d8e0;;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-icon.active {
    background-color: #007bff;
    color: #fff;
}

.step {
    display: none;
}

.step.active {
    display: block;
}

#prevBtn, #nextBtn, #submitBtn button {
    width: 100px;
    margin: 10px;
}

.heading{
    font-weight: bold;
}
.left-container p {
    opacity: 0.8;
    font-weight: lighter;
    font-size: smaller;
    margin-top: 50px;
}

.carousel-item img {
    max-height: 500px;
    max-width:500px;
    border-radius: 10px;
    margin-top: 5vh;
    margin-bottom: 10vh;
}
.mob-logo{
    display: none;
}

@media (max-width: 768px) {
    body{
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: #005efe;
    }
    .mob-logo{
       display: block;
    }
    .container{
        margin: auto;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
    }
    .left-container{
        display: none;
    }
    .right-container{
        width: 100%;
    }
    .right-container h3{
        white-space: nowrap;
    }
    input[type=tel]{
        width: 100%;
    }
}

@media (max-height: 1000px) {
    body{
        margin: 0px;
        padding: 0px;
    }
    .mob
  .container{
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100%;
  }
  .right-container{
    height: 100%;
}
}